<div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5 p-2">
  <h2 class="border-b border-gray-200 py-2 text-xl">People you may know</h2>
  <ul role="list" class="divide-y divide-gray-100">
    {% for user in suggestions %}
    <li class="relative flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 items-center gap-x-4">
        <!-- TODO: Add images -->
        <!-- <img
          class="h-12 w-12 flex-none rounded-full bg-gray-50"
          src="{user.imageUrl}"
          alt=""
        /> -->
        {% include 'icons/_userCircleIcon.html' %}
        <!-- <UserCircleIcon class="h-12 w-12" /> -->
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">
            <a href="{% url 'users:profile' user.username %}">
              <span class="absolute inset-x-0 -top-px bottom-0" />
              {{ user.username }}
            </a>
          </p>
          <p class="truncate">{{ user.get_full_name }}</p>
        </div>
      </div>
      <div class="flex shrink-0 items-center gap-x-4">
        <!-- <ChevronRightIcon
              class="h-5 w-5 flex-none text-gray-400"
              aria-hidden="true"
            /> -->
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
